@using LacamasFair.Data
@model DepartmentModel
@*@inject ApplicationDbContext context
@{
    List<SubDeptIdModel> subDepartments = await SubDepartmentDb.GetAllSubDepartments(context);
}*@

@{
ViewData["Title"] = "Home";
    Layout = "/Views/Shared/_FairbookLayout.cshtml";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @TempData["Message"]
    </div>
}

@* Viewable by Admin only *@
@await Html.PartialAsync("_AdminControl", Model)

<div class="text-center">
    <h1>Welcome To @ViewData["DepartmentName"] Department</h1>
</div>

@* TODO (in progress below): Display the correct information based what department is clicked on in the nav-link *@

@* TODO: Display the sub departments of that department *@

@* If one of the departments are clicked, show its sub departments *@
@if ((int)ViewData["id"] > 0)
{
    @foreach (SubDeptIdModel item in ViewBag.SubDepartments) 
    {
        //If the user clicks a department in the nav link, only show the sub departments tied to it
        @if (Model.DepartmentId == item.DepartmentId) 
        {
            <a class="btn btn-success btn-group mr-2 text-dark" asp-action="Home" asp-controller="Department">@item.SubDeptName</a>        
        }
    }
}

@*
    Note:
    When a user clicks on a department, display all of it's sub departments.
    When a user clicks on a sub department, display all of it's classes as a pop up button that shows it's entry rules.
    Use "Accordion Example" from this link: https://getbootstrap.com/docs/4.4/components/collapse/
*@
