@model DepartmentModel

@{
    ViewData["Title"] = "Home";
    Layout = "/Views/Shared/_FairbookLayout.cshtml";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @TempData["Message"]
    </div>
}

@* Viewable by Admin only *@
@if (User.IsInRole(LacamasFair.Data.IdentityHelper.Administrator))
{
    @await Html.PartialAsync("_AdminControl", Model)
}

<div class="text-center">
    <h1>Welcome To @ViewData["DepartmentName"] Department</h1>
</div>

@* If one of the departments are clicked, show its sub departments *@
@if ((int)ViewData["id"] > 0)
{
    <div class="card-deck" style="margin-top: 10%;">
        @foreach (SubDeptIdModel item in ViewBag.SubDepartments)
        {
            //If the user clicks a department in the nav link, only show the sub departments tied to it
            @if (Model.DepartmentId == item.DepartmentId)
            {
                <div class="card">
                    <div class="card-body background-dark">
                        <div class="text-center">
                            @*Link to view the sub department*@
                            <a class="card-text" asp-action="SubDepartment" asp-controller="Department" asp-route-id="@item.SubDeptId">@item.SubDeptName</a>
                        </div>
                    </div>
                </div>
            }
        }
     </div>
}
