
@{
    ViewData["Title"] = "Home";
    Layout = "/Views/Shared/_FairbookLayout.cshtml";
}


<div class="text-center">
    <h1>Welcome To Departments</h1>
</div>

@* TODO: If the user that is signed in is an admin, display an add button for them to be able to add departments to the database *@
