@model SubDeptIdModel

@{
    ViewData["Title"] = "SubDepartment";
    Layout = "/Views/Shared/_FairbookLayout.cshtml"; //TODO: Change nav bar to the specific department's sub departments
}

@if (User.IsInRole(LacamasFair.Data.IdentityHelper.Administrator))
{
    <div class="text-center">
        <a class="btn btn-primary mr-2 text-dark" asp-action="AddSubDeptClass" asp-controller="Department" asp-route-id="@Model.SubDeptId">Add Sub Department Class</a>
    </div>
}

<div class="text-center">
    <h1>@Model.SubDeptName Department</h1>
</div>

@* Display that sub department's classes *@
<div class="accordion" id="departmentClasses">
    @foreach (SubDeptIdModel item in ViewBag.SubDepartments)
    {
        <div class="card">
            <div class="card-header" id="heading">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse">
                        @item.DeptClasses
                    </button>
                </h2>
            </div>
            <div id="collapse" class="collapse show" aria-labelledby="heading" data-parent="#departmentClasses">
                <div class="card-body text-dark">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                    dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                    vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    }
</div>


