@using LacamasFair.Data
@inject ApplicationDbContext context
@{ 
    List<DepartmentModel> departments = await DepartmentDb.GetAllDepartments(context);
}

<!DOCTYPE html>
<html>
<partial name="_Head.cshtml" />
<body class="background text-white">
    <header>
        <nav class="navbar navbar-light navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Return to Home</a>
                        </li>
                        @foreach (DepartmentModel item in departments)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Department" asp-action="Home" asp-route-id="@item.DepartmentId">@item.DepartmentName</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="_FooterScripts.cshtml" />
    @RenderSection("Scripts", required: false)
</body>
</html>
