<footer class="border-top footer text-muted">
    <div class="container text-white">
        &copy; @DateTime.Today.Year - LacamasFair - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/JQueryMobile/jquerymobile.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>