
@{
    ViewData["Title"] = "About Lacamas Fair";
}

<div class="text-center">
    <h1>The History of The Lacamas Community Fair</h1>
</div>

<div class="text-center">
    <img src="https://via.placeholder.com/150" />
    <br />
    <h4>Been in operation since 1929</h4>
    <br />
    <p>
        In the fall of 1929, at a meeting of the Lacamas Community Club,
        a few members brought samples of fruit and vegetables, which they arranged on a long table.
        Those were lean years and everyone depended upon the produce from their
        gardens to supplement the small incomes of the depression days.
        That was the beginning of the Lacamas Community Fair, which, with the exceptions of the war years, has been an annual event ever since.
    </p>
    <br />
    <p>
        The Fair was established as a regular part of our community service program
        providing a time and place for a community get-together, a day of recreation, sports, good eats, and friendly competition.
        Throughout the years, the fair has served to perpetuate the friendship, old and new, formed in the community.
    </p>
    <br />
    <p>
        No admission has ever been charged. In fact, it has been said that you don't spend a dime at the Lacamas Community Fair except to eat.
        The expense of the fair has been defrayed by local activities and support of local businesses, merchants and individuals.
        We are especially grateful to these people and hope that they might feel compensated by goodwill and patronage of the residents of our community.
    </p>
</div>

