
@{
    ViewData["Title"] = "Community Center";
}

<div class="text-center">
    <h1>Community Center</h1>
</div>

<br />

<ul class="nav nav-tabs" style="padding-left: 13%; padding-right: 13%;">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#communityClub">Community Club</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#upcomingEvents">Upcoming Events @DateTime.Today.Year</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#bingo">Bingo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#harvestFestival">Harvest Festival @DateTime.Today.Year</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#christmasBazaar">Christmas Bazaar @DateTime.Today.Year</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="communityClub">
        <br />
        <h3 class="text-center">
            Help make our community better!
        </h3>
        <p class="text-center">
            The Lacamas Community Club meets on the first Wednesday of every month at 6:00 PM. Everyone is welcome. Come join us!
        </p>
    </div>
    <div class="tab-pane fade" id="upcomingEvents">
        <br />
        <h3 class="text-center">
            More information regarding Upcoming Events is coming soon!
        </h3>
    </div>
    <div class="tab-pane fade" id="bingo">
        <br />
        <div class="text-center">
            <h3>Looking for something fun to do on a Friday night?</h3>
            <h4>Come join us for Bingo!</h4>
        </div>
        <br />
        <ul style="padding-left: 30%; padding-right: 30%;">
            <li>Starts at 7 PM on Friday nights.</li>
            <li>Kitchen opens at 6 PM.</li>
            <li>Children 8 years  and older are welcome to play when accompanied by a paying adult.</li>
            <li>6 hard cards cost only $5.00 , 2 paper games cost 1.00 and 2 cost .50 cents!</li>
            <li>Proceeds help the Lacamas Community Fair.</li>
        </ul>
    </div>
    <div class="tab-pane fade" id="harvestFestival">
        <br />
        <h3 class="text-center">
            More information regarding Harvest Festival is coming soon!
        </h3>
    </div>
    <div class="tab-pane fade" id="christmasBazaar">
        <br />
        <h3 class="text-center">
            More information regarding Christmas Bazaar is coming soon!
        </h3>
    </div>
</div>