
@{
    ViewData["Title"] = "FacilityRental";
}

    <div class="text-center">
        <h1>Facility Rental Menu</h1>
    </div>
	<br />

    <div class="text-center">
        <h5 class="btn btn-info disabled">Facility Rentals</h5>
    </div>

    <div class="text-center">
		<h6>For more information, or to check availability, please contact Ricky Hoskins at 253-278-0336</h6>
        <h6>Please email <a href="mailto:LacamasFair@gmail.com">LacamasFair@gmail.com</a> for any other questions.</h6>
    </div>


<table class="table table-sm table-striped table-bordered">
    <thead class="text-center thead-dark">
        <tr>
            <th scope="col">Facility</th>
            <th scope="col">Price/Price</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <th scope="row">Rental Fee</th>
            <th scope="row">$425</th>
        </tr>
        <tr>
            <th scope="row">Kitchen Use</th>
            <th scope="row">$50</th>
        </tr>
        <tr>
            <th scope="row">Damage Deposit</th>
            <th scope="row">$500</th>
        </tr>
    </tbody>
</table>

