
@{
    ViewData["Title"] = "Fair Board";
}

<div class="text-center">
    <a asp-action="HistoryAndGoal" asp-controller="Home">History and Goal</a>
</div>
<br />
<div class="text-center">
    <h1>Board Members</h1>
</div>

<br />

<div class="text-center">
    <h5 class="btn btn-info disabled">Community Club Officers</h5>
</div>

<table class="table table-hover">
    <thead class="text-center">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Name</th>
            <th scope="col">Contact Number</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <th scope="row">President</th>
            <td>Ricky Hoskins</td>
            <td>253-278-0336</td>
        </tr>
        <tr>
            <th scope="row">Vice President</th>
            <td>Kimberly Herring</td>
            <td>253-307-5517</td>
        </tr>
        <tr>
            <th scope="row">Secretary</th>
            <td>Holly Wood</td>
            <td>253-843-1566</td>
        </tr>
        <tr>
            <th scope="row">Treasurer</th>
            <td>Bridget Holt</td>
            <td>360-480-7066</td>
        </tr>
    </tbody>
</table>

<br />

<div class="text-center">
    <h5 class="btn btn-info disabled">Community Fair Officers</h5>
</div>

<table class="table table-hover">
    <thead class="text-center">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Name</th>
            <th scope="col">Contact Number</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <th scope="row">Manager</th>
            <td>Holly Wood</td>
            <td>253-843-1566</td>
        </tr>
        <tr>
            <th scope="row">Secretary</th>
            <td>Dee Wood</td>
            <td>253-843-1352</td>
        </tr>
        <tr>
            <th scope="row">Grounds Maint.</th>
            <td>Club Scout Pack 643</td>
            <td>360-539-6121</td>
        </tr>
        <tr>
            <th scope="row">Rope Bridge</th>
            <td>Boy Scout Troup 643</td>
            <td>253-843-2419</td>
        </tr>
    </tbody>
</table>
