
@{
    ViewData["Title"] = "About Lacamas Fair";
}

<div class="text-center">
    <a id="accent-color" asp-action="FairBoard" asp-controller="Home">Fair Board</a>
</div>
<br />

<div class="text-center">
    <h2>Our Goal</h2>
</div>

<div class="jumbotron" style="background-color: darkgrey; height: 300px;">
    <div id="carouselControl" class="carousel slide" data-ride="carousel" data-interval="13500">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="text-center">
                    <h1 class="display-3">To Improve</h1>
                    <p class="lead">
                        relations between rural and urban people by providing our urban visitors with a truly country setting. As well as a glimpse at rural living and economy.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <h1 class="display-3">To Provide</h1>
                    <p class="lead">
                        social contacts, an opportunity for neighbors to meet one another, and to build pride in our community.
                        We want to provide a place to develop, train and strengthen truly American character of fairness, trust and goodwill though participation,
                        and accomplishment.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <h1 class="display-3">To Present</h1>
                    <p class="lead">
                        product from farm and home.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <h1 class="display-3">To Provide</h1>
                    <p class="lead">
                        recreation and relaxation through contests, competition, local areas entertainment, and a showplace for youth programs operating in our local areas.
                        To provide wholesome competition and a safe place to practice sportsmanship.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <h1 class="display-3">To Educate</h1>
                    <p class="lead">
                        and expand the horizons of one another through exhibiting, judging and demonstrating.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <h1 class="display-3">To Highlight</h1>
                    <p class="lead">
                        and applaud all of our generations, especially our senior citizens and our youth.
                    </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" style="bottom: 100%" href="#carouselControl" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" style="bottom: 100%" href="#carouselControl" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<br />
<div class="text-center">
    <h1>The History of The Lacamas Community Fair</h1>
</div>

<div class="text-center">
    @* Placeholder img *@
    <img src="https://via.placeholder.com/150" />
    <br />
    <h4>Been in operation since 1929</h4>
    <br />
    <p>
        In the fall of 1929, at a meeting of the Lacamas Community Club,
        a few members brought samples of fruit and vegetables, which they arranged on a long table.
        Those were lean years and everyone depended upon the produce from their
        gardens to supplement the small incomes of the depression days.
        That was the beginning of the Lacamas Community Fair, which, with the exceptions of the war years, has been an annual event ever since.
    </p>
    <br />
    <p>
        The Fair was established as a regular part of our community service program
        providing a time and place for a community get-together, a day of recreation, sports, good eats, and friendly competition.
        Throughout the years, the fair has served to perpetuate the friendship, old and new, formed in the community.
    </p>
    <br />
    <p>
        No admission has ever been charged. In fact, it has been said that you don't spend a dime at the Lacamas Community Fair except to eat.
        The expense of the fair has been defrayed by local activities and support of local businesses, merchants and individuals.
        We are especially grateful to these people and hope that they might feel compensated by goodwill and patronage of the residents of our community.
    </p>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_CarouselMobileSwipeFeature"); }
}

