@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Lacamas Community Center</h1>
    <h4>32113 8th Avenue South</h4>
    <h4>Roy, WA 98580</h4>

    @* Image place holder for site *@
    <img src="https://via.placeholder.com/150" />

    <p>This site is currently under construction</p>
    <br />
    @* This should contain a main contact email or redicrect to contacts *@
    <h5>For more information, please send an e-mail to:</h5>
    <a href="mailto:LacamasFair@gmail.com">LacamasFair@gmail.com</a>
    <br /><br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
