@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Lacamas Community Center</h1>
    <h4>32113 8th Avenue South</h4>
    <h4>Roy, WA 98580</h4>

    @* Image place holder for site *@
    <img src="https://via.placeholder.com/150" />

    <p>This site is currently under construction</p>
    <br />

    @* Google map for address *@
    <div id="googleMap">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2722.8002270182265!2d-122.4440976843916!3d46.96561497914742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549119fee82989df%3A0x44daaa2845b66644!2sLacamas%20Community%20Club!5e0!3m2!1sen!2sus!4v1581032481085!5m2!1sen!2sus" 
            width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="">
        </iframe>
    </div>

    @* This should contain a main contact email or redicrect to contacts *@
    <h5>For more information, please send an e-mail to:</h5>
    <a href="mailto:LacamasFair@gmail.com">LacamasFair@gmail.com</a>
    <br /><br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
