@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1>Lacamas Community Center</h1>
        <h4>32113 8th Avenue South</h4>
        <h4>Roy, WA 98580</h4>

        @* Image place holder for site *@
        <img src="https://via.placeholder.com/150" />

        <p>This site is currently under construction</p>
        <br />
		<br />

        <h2>Upcoming Events at Lacamas</h2>
		<br />
		<h1>February 2020</h1>
        <br />
        @*First attempt at building a calendar from a table format*@
        <table class="table-responsive-xl" id="calendarInfo" style="margin-left: 30%;">
            @*<thead class="thead-dark">
                <tr>                            //This creates a seperate box that could be used but not sure designwise
                    <th scope="auto" class="align-items-center">February</th>
                </tr>
            </thead>*@
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Sunday</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wenesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                </tr>
                <tr>
                    <th>16</th>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                </tr>
                <tr>
                    <th>23</th>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                </tr>
            </tbody>
        </table>

        <br />
		<br />

        @* Google map for address *@
        <div id="googleMap">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2722.8002270182265!2d-122.4440976843916!3d46.96561497914742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549119fee82989df%3A0x44daaa2845b66644!2sLacamas%20Community%20Club!5e0!3m2!1sen!2sus!4v1581032481085!5m2!1sen!2sus" 
                width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="">
            </iframe>
        </div>

        @* This should contain a main contact email or redicrect to contacts *@
        <h5>For more information, please send an e-mail to:</h5>
        <a href="mailto:LacamasFair@gmail.com">LacamasFair@gmail.com</a>
        <br /><br />
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
