@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Privacy Policy</p>

<p>Information Collection</p>

<p>Information entered into *URL* is not used in any statiscal format by its partners 
    and members to examine the effectiveness of advertisement and program direction.
    Lacamas Fair and it's affiliates only retain information submitted by the user, to be used as
    a function of communication or displaying pertinant information to the relative user.</p>

<p>Information that is willingly provided such as name, address, phone number, email, zip code, age, or gender
   will only be used in necessary accordance for participation in fair activities and registration.
   *URL*, partners, and members do not utilize targeting advertising.</p>
