@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>Charitable Organization</p>

<p>
    Lacamas Fair is registered as a 501(c)(3) with charitable organization status. More information can be located
    <a href="https://www.irs.gov/charities-non-profits/charitable-organizations/exemption-requirements-501c3-organizations">here</a>.
</p>

<p>Information Collection</p>

<p>
    Information entered into *URL* is not used in any statiscal format by its partners
    and members to examine the effectiveness of advertisement and program direction.
    Lacamas Fair and it's affiliates only retain information submitted by the user, to be used as
    a function of communication or displaying pertinant information to the relative user.
</p>

<p>
    Information that is willingly provided such as name, address, phone number, email, zip code, age, or gender
    will only be used in necessary accordance for participation in fair activities and registration.
    *URL*, partners, and members do not utilize targeting advertising or collection of data unless it pertains to registration
    and connection to our services.
</p>

<p>Cookies</p>

<p>When visiting this site, we may send one or more cookies -- a small text file containing a string of alphanumeric characters -- to your
   computer to uniquely identify your browser. This will help with your navagation through the webiste as Lacamas Fair utilizes data and services
   for images and some file content with fair activities.</p>


