
@{
    ViewData["Title"] = "Purpose";
}

<div class="text-center">
    <a asp-action="FairBoard" asp-controller="Home">Fair Board</a> |
    <a asp-action="History" asp-controller="Home">History</a>
</div>
<br />
<div class="text-center">
    <h2>The Lacamas Community Fair makes every effort to meet the following Aims and Purposes:</h2>
</div>

<br /> 

<div class="jumbotron">
    <div id="carouselControl" class="carousel slide" data-ride="carousel" data-interval="7000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="text-center">
                    <h1 class="display-3">To Improve</h1>
                    <p class="lead">
                        relations between rural and urban people by providing our urban visitors with a truly country setting and glimpse at rural living and economy.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <h1 class="display-3">To Provide</h1>
                    <p class="lead">
                        social contacts, an opportunity for neighbors to meet one another, and to build pride in our community.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <h1 class="display-3">To Present</h1>
                    <p class="lead">
                        product from farm and home.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <h1 class="display-3">To Provide</h1>
                    <p class="lead">
                        recreation and relaxation through contests, competition, and local areas entertainment.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <h1 class="display-3">To Educate</h1>
                    <p class="lead">
                        and expand the horizons of one another through exhibiting, judging and demonstrating.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <h1 class="display-3">To Provide</h1>
                    <p class="lead">
                        wholesome competition and a safe place to practice sportsmanship.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <h1 class="display-3">To Highlight</h1>
                    <p class="lead">
                        and applaud all of our generations, especially our senior citizens and our youth.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <h1 class="display-3">To Provide</h1>
                    <p class="lead">
                        a place to develop, train and strengthen truly American character of fairness, trust and goodwill though participation, and accomplishment.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <h1 class="display-3">To Provide</h1>
                    <p class="lead">
                        a showplace for youth programs operating in our local areas.
                    </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControl" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControl" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

